
<h1>{{title}}</h1>



<div class="wrapper">
  <div class="control-wrapper">
    <input type="text" #newTodo placeholder="Todo..."/>
    <input type="number" #priority placeholder="Priority..."/>
    <button (click) = "addTodo(newTodo.value, priority.value); newTodo.value=''; priority.value=''">Add</button>
  </div>
  <div class="header-wrapper">
    <div class="header-item">Label</div>
    <div class="header-item">Priority</div>
    <div class="header-item">Done</div>
    <div class="header-item">Actions</div>
  </div>
  <div *ngFor="let todo of todos" class="todo-row">
    <div class="todo-column">{{todo.label}}</div>
    <div class="todo-column">{{todo.priority}}</div>
    <div class="todo-column"><input type="checkbox"></div>
    <div class="todo-column"><button (click) = "deleteTodo(todo)">delete</button></div>
  </div>
</div>

