.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.control-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%

}

input {
  height: 50px;
  width: 70%;

}
button {
  height: 50px;
  min-width: 30%;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 30%

}
.header-item{
  display: flex;
  justify-content: center;
  background: darkblue;
  color: aliceblue;
  width: 10rem;
}
.todo-row{
  display: flex;
  justify-content: center;
  width: 30%

}
.todo-column{
  display: flex;
  background: lightblue;
  width: 10rem;
  align-items: center;
  justify-content: center;
}
